bin/
obj/
build/
keep/
*.exe
*.obj
*.o
*.d
*.tlog
*.aps
.vs/
*.user
/vs/x64/*
/vs/DiscordMessenger/
*.res
*.recipe
*.FileListAbsolute.txt
voice/build/
voice/example/

# Libsodium - only keep x64 v143 builds needed for linking
voice/deps/libsodium-msvc/libsodium/ARM64/
voice/deps/libsodium-msvc/libsodium/Win32/
voice/deps/libsodium-msvc/libsodium/x64/Debug/v142/
voice/deps/libsodium-msvc/libsodium/x64/Release/v142/
voice/deps/libsodium-msvc/libsodium/x64/Debug/v143/ltcg/
voice/deps/libsodium-msvc/libsodium/x64/Debug/v143/static/
voice/deps/libsodium-msvc/libsodium/x64/Release/v143/ltcg/
voice/deps/libsodium-msvc/libsodium/x64/Release/v143/static/
*.pdb
*.ilk
*.idb
*.ipch
*.pch
*.sdf
*.opensdf
*.suo
*.log
*.lastbuildstate
*.iobj
*.ipdb
build_output.txt
